doctype html
html
  head
    title Joe Wang
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='assets/css/main.css')
  body#top
    header#header
      div.inner
        if (videoEnable)
          iframe(src=videoSrc,width="100%", height="393", frameborder="0", allowfullscreen)
    div#main
      section#one
        header.major
          h2 Introduction
            br
        p#Intro= intro
        ul.actions
          if (PaperEnable)
            li: a.button(href=articleURL) Paper Download
          if (CodeEnable)  
            li: a.button(href=codeURL) Code Download
          if (ExeEnbale)  
            li: a.button(href=exeURL) Executable Download
          if (WebsiteEnbale)  
            li: a.button(href=website) Project Website
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
